<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataItem</key>
	<array>
		<string>Hello</string>
		<string>Greetings</string>
		<string>My name is Bilash. What&apos;s your name?</string>
		<string>My name is Jack.</string>
		<string>How are you?</string>
		<string>I am fine. what about you?</string>
		<string>i am also good. what are you doing ?</string>
		<string>Nothing at all. </string>
		<string>Where are you from ?</string>
		<string>I am from bangladesh. And You? </string>
		<string>I am also from bangladesh. </string>
		<string>where are you live in? </string>
		<string>i live in dhaka . and you?</string>
		<string>I live in Rajshahi. </string>
		<string>tell me about you study. </string>
		<string>I completed my BSc in the field of computer science and engineering. and You?</string>
		<string>i have completed my bsc in Electrical end Electronics Engineering. </string>
	</array>
</dict>
</plist>
